.no-left-right-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-bottom: 10px;
}

#teal_filter_panel_whole > div.well div.form-group label {
  width: 100%;
}

#teal_filter_active_vars p {
  margin-bottom: 0;
}

a.remove {
  font-weight: normal;
  float: right;
  border: 0;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 100;
  font-size: 0.9em;
  padding: 2px 4px;
  margin-top: 0;
}

a.remove:hover {
  color: #337ab7;
}

a.remove_all {
  font-weight: normal;
  float: right;
  border: 0;
  background-color: transparent;
  color: rgb(136, 0, 0, 0.72);
  font-weight: 100;
  font-size: 0.9em;
  padding: 2px 4px;
  margin-top: 0;
  opacity: 50%;
}

a.remove_all:hover {
  color: #d40000;
}

.filterPlotOverlayBoxes {
  position: absolute;
  top: -2px;
  right: 16px;
  bottom: -2px;
  left: 16px;
  animation: 0.75s ease-out 0s 1 shinyDataFilterEnlargeX,
    0.5s ease-in 0s 1 shinyDataFilterFadeIn;
  transform-origin: left;
}

.filterPlotOverlayRange {
  margin: 10px 11px -25px 11px;
  height: 25px;
  animation: 0.75s ease-out 0s 1 shinyDataFilterEnlargeY,
    0.5s ease-in 0s 1 shinyDataFilterFadeIn;
  transform-origin: bottom;
}

.filter_panel_dataname {
  font-weight: bold;
}

.filter_panel_varname {
  font-weight: bold;
  width: 100%;
}

.filter_panel_varlabel {
  font-size: small;
  font-weight: normal;
  margin-left: 3px;
  color: rgb(122, 122, 122);
}

.parent-hideable-list-group > div.hideable-list-group:not(:empty):before {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;

  content: attr(data-label);
}

/*
  filter summary table
*/
.custom-table td:nth-child(1),
.custom-table thead {
  font-weight: bold;
}

.teal_active_summary_filter_panel {
  overflow-x: auto;
}
