/* teal.slice filter-panel css */

.relative {
  position: relative;
}

.inline-block {
  position: inline-block;
}

.flex {
  display: flex;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.w-full {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.w-45 {
  width: 45%;
}

.w-10 {
  width: 10%;
}

.m-auto {
  margin: auto;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-right {
  justify-content: flex-end;
}

.date_reset_button {
  padding: 0;
  padding-top: 4px;
  padding-bottom: 5px;
  width: 10%;
  height: 3rem;
}

.filter_datelike_input input {
  height: 3rem !important;
  text-align: center !important;
  font-size: 1rem !important;
}

.filter_datelike_input span.input-group-text {
  height: 3rem !important;
}

.filter_datelike_input span.input-group-addon {
  height: 3rem !important;
}

.no-left-right-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-bottom: 10px;
}

#teal_filter_panel_whole>div.well div.form-group label {
  width: 100%;
}

#teal_filter_active_vars p {
  margin-bottom: 0;
}

a.remove {
  font-weight: normal;
  float: right;
  border: 0;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 100;
  font-size: 0.9em;
  padding: 2px 4px;
  margin-top: 0;
}

a.remove:hover {
  color: #337ab7;
}

a.remove_all {
  font-weight: normal;
  float: right;
  border: 0;
  background-color: transparent;
  color: rgb(136, 0, 0, 0.72);
  font-weight: 100;
  font-size: 0.9em;
  padding: 2px 4px;
  margin-top: 0;
  opacity: 50%;
}

a.remove_all:hover {
  color: #d40000;
}

.choices_state label {
  display: flex;
  gap: 5px;
}

.choices_state label>input {
  flex-grow: 0;
}

.choices_state label>span {
  flex-grow: 4;
}

.choices_state_label_text {
  position: absolute;
  padding: 2px;
  margin-top: -3px;
}

.choices_state_label {
  background-color: lightblue;
  height: 2rem;
  display: inline-block;
  position: absolute;
  margin-top: -3px;
}

.choices_state_label_unfiltered {
  background-color: lightgray;
  height: 2rem;
  margin-top: -3px;
  display: inline-block;
  position: absolute;
}

.filterPlotOverlayRange {
  margin: 10px 0px -25px;
  height: 25px;
  animation: 0.75s ease-out 0s 1 shinyDataFilterEnlargeY,
    0.5s ease-in 0s 1 shinyDataFilterFadeIn;
  transform-origin: bottom;
  width: 100%;
  max-width: 100%;
}

/* Needed for bs4 */
.filterRangeSlider {
  width: 100%;
  max-width: 100%;
}


.filter_panel_dataname {
  font-weight: bold;
}

.filter_panel_varname {
  font-weight: bold;
  width: 100%;
}

.filter_panel_varlabel {
  font-size: small;
  font-weight: normal;
  margin-left: 3px;
  color: rgb(122, 122, 122);
}

.parent-hideable-list-group>div.hideable-list-group:not(:empty):before {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;

  content: attr(data-label);
}

/* filter summary table */
.custom-table td:nth-child(1),
.custom-table thead {
  font-weight: bold;
}

.teal_active_summary_filter_panel {
  overflow-x: auto;
}

/* 
below is the css for the new fitler card design
will need to remove relevant code above
*/

.filter-card-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--bs-gray-400);
  border-radius: 5px;
}

.filter-card {
    width: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
}

/*
.filter-card-header {
    background-color: var(--bs-secondary);
}
*/
.filter-card-header:link,
.filter-card-header:visited,
.filter-card-header:hover,
.filter-card-header:active {
  text-decoration: none;
}

.filter-card-title {
    display: flex;
    border: 1px solid gray;
    border-bottom: none;
    transition: all 0.35s;
}

.filter-card-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  color: var(--bs-body-color);
}

.filter-card-header:hover {
  background-color: var(--bs-gray-500)
}

.filter-card-icons {
  justify-self: end;
  margin-right: 10px;
}

/*.filter-card-title-varname {
    margin-right: auto;
}*/
/*
.filter-card-title span:nth-last-child(-n+2) {
    margin-right: 10px;
    margin-left: 10px;
}
*/
/*
.filter-card-summary {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    border: 1px solid gray;
    border-top: none;
}
*/
.fa-check {
  color: var(--bs-success);
}

.fa-xmark {
  color: var(--bs-danger);
}

.filter-card-body {
    display: none;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

