.filter-state-card .btn {
  font-size: inherit;
  background: inherit;
  border: none;
  background-color: transparent;
}

.filter-state-card .dropdown .dropdown-toggle .caret {
  display: none;
}

.filter-state-card .sw-dropdown .btn .glyphicon-triangle-bottom {
  display: none;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
}

.toggle, .dropdown-menu {
  width: 100%;
}

.is-active .dropdown-menu {
  display: block;
}
