/* teal.slice filter-panel css */

.relative {
  position: relative;
}

.inline-block {
  position: inline-block;
}

.flex {
  display: flex;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.w-full {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.w-45 {
  width: 45%;
}

.w-10 {
  width: 10%;
}

.m-auto {
  margin: auto;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-right {
  justify-content: flex-end;
}

.date_reset_button {
  padding: 0;
  padding-top: 4px;
  padding-bottom: 5px;
  width: 10%;
  height: 3rem;
}

.filter_datelike_input input {
  height: 3rem !important;
  text-align: center !important;
  font-size: 1rem !important;
}

.filter_datelike_input span.input-group-text {
  height: 3rem !important;
}

.filter_datelike_input span.input-group-addon {
  height: 3rem !important;
}

.no-left-right-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-bottom: 10px;
}

#teal_filter_panel_whole > div.well div.form-group label {
  width: 100%;
}

#teal_filter_active_vars p {
  margin-bottom: 0;
}

.filter-panel-active-header {
  display: flex;
  justify-content: flex-end;
  gap: 0.25em;
}

.filter-panel-active-header span:first-child {
  margin-right: auto;
}

a.remove {
  font-weight: normal;
  float: right;
  border: 0;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 100;
  font-size: 0.9em;
  padding: 2px 4px;
  margin-top: 0;
}

a.remove:hover {
  color: #337ab7;
}

a.remove_all {
  font-weight: normal;
  float: right;
  border: 0;
  background-color: transparent;
  color: rgb(136, 0, 0, 0.72);
  font-weight: 100;
  font-size: 0.9em;
  padding: 2px 4px;
  margin-top: 0;
  opacity: 50%;
}

a.remove_all:hover {
  color: #d40000;
}

.choices_state label {
  display: flex;
  gap: 5px;
}

.choices_state label > input {
  flex-grow: 0;
}

.choices_state label > span {
  flex-grow: 4;
}

.choices_state_label_text {
  position: absolute;
  padding: 2px;
  margin-top: -3px;
}

.choices_state_label {
  background-color:lightblue;
  height:2rem;
  display:inline-block;
  position:absolute;
  margin-top: -3px;
}

.choices_state_label_unfiltered {
  background-color:lightgray;
  height:2rem;
  margin-top: -3px;
  display:inline-block;
  position: absolute;
}

.filterPlotOverlayRange {
  margin: 10px 0px -25px;
  height: 25px;
  animation: 0.75s ease-out 0s 1 shinyDataFilterEnlargeY,
    0.5s ease-in 0s 1 shinyDataFilterFadeIn;
  transform-origin: bottom;
  width: 100%;
  max-width: 100%;
}

/* Needed for bs4 */
.filterRangeSlider {
  width: 100%;
  max-width: 100%;
}

.irs.irs--shiny.js-irs-0.irs-with-grid * {
  font-size: 0.85em;
}

.filter_panel_dataname {
  font-weight: bold;
}

.filter_panel_varname {
  font-weight: bold;
  width: 100%;
}

.filter_panel_varlabel {
  font-size: small;
  font-weight: normal;
  margin-left: 3px;
  color: rgb(122, 122, 122);
}

.parent-hideable-list-group > div.hideable-list-group:not([data-label=""]):before {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;

  content: attr(data-label);
}

/* filter summary table */
.custom-table td:nth-child(1),
.custom-table thead {
  font-weight: bold;
}

.teal_active_summary_filter_panel {
  overflow-x: auto;
}

/* .panel class needed for bs3 accordion to work properly
  it's styles need to be overwritten to have consistent look
 */
.panel {
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
}

.filter-card-header {
  color: var(--bs-body-color, #333333);
  padding: 5px 10px;
  border: 1px solid var(--bs-gray-300, #dee2e6);
  border-radius: 0.25em;
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-areas:
  "title controls"
  "summary summary"
}

.filter-card-header:not(.collapsed) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.filter-card-header:hover,
.filter-card-body:hover {
  background-color: var(--bs-gray-200, #e9ecef);
}

.filter-card-title {
  grid-area: title;
}

.filter-card-controls {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  grid-area: controls;
}

.filter-card-summary {
  width: 100%;
  display: flex;
  grid-area: summary;
}

.filter-card-summary-value {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filter-card-summary-controls {
  margin-left: auto;
  padding-left: 1em;
  display: flex;
  gap: 1em;
}

.fa-check {
  color: var(--bs-success, var(--success, #3c763d))
}

.fa-xmark {
  color: var(--bs-danger, var(--danger, #a94442))
}

.filter-card-varlabel {
 color: var(--bs-gray-500, var(--gray, darkgray));
 margin-left: 0.5em;
 margin-right: auto;
}

.filter-card-remove,
.filter-card-remove:hover {
  color: var(--bs-body-color, var(--dark, #333333));
}

.filter-card-body {
  border: 1px solid var(--bs-gray-300, #dee2e6);
  border-top: none;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding: 5px 10px;
}

.filter-card-body-keep-na-inf {
  display: flex;
  justify-content: space-evenly;
}

.progress.state-count-container {
  height: 1.75em;
  width: 90%;
  background-color: white;
  margin: 0px;
  border-radius: 0px;
}

.progress-bar.state-count-bar-filtered {
  background-color: lightblue !important;
  color: var(--bs-body-color, var(--dark, #333333));
  overflow: visible;
  text-align: left;
  white-space: nowrap;
  font-size: 1em;
}

.progress-bar.state-count-bar-unfiltered {
  background-color: rgba(173, 216, 230, 0.439) !important;
}

.input-daterange > input {
  font-size: 1em !important;
}

.input-group-prepend {
 font-size: 1em !important;;
}


.filter_datelike_input  input {
  font-size: 1em !important;
}

.filter-card-controls > div.form-group {
  margin: 0em;
}
